<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="../static/css/cursos-style.css">
  <title>Plataforma Cerebritos</title>
</head>
<body>
<nav>
  <ul>
    <li class="logo"><img src="../static/img/Logo1.png" alt=""></li>
    <li><a href="#">&nbsp; Dashboard</a></li>
    <li><a href="#">&nbsp; Simulacro</a></li>
    <li><a href="#">&nbsp; Cursos</a></li>
  </ul>
</nav>
<div id="main-container">
  <table>
    <thead>
    <tr>
      <th>
        <h1 style="color: #2b2626">Catalogo de cursos</h1>
      </th>
    </tr>
    </thead>
    <tr>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Geometria</h2></td>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Trigonometria</h2></td>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Algebra</h2></td>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Aritmetica</h2></td>
    </tr>
    <tr>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Lenguaje</h2></td>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Geografia</h2></td>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Fisica</h2></td>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Filosofia</h2></td>
    </tr>
    <tr>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Historia del Perú</h2></td>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Historia Universal</h2></td>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Biologia</h2></td>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Quimica</h2></td>
    </tr>
    <tr>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h3>Psicologia</h3></td>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h3>Literatura</h3></td>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h3>Habilidad Verbal</h3></td>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h3>Habilidad Matematica</h3></td>
    </tr>
    <tr>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Educacion Civica</h2></td>
      <td><img class="icono" src="../static/img/libro-abierto.png" alt=""><h2>Economia</h2></td>
    </tr>
  </table>
</div>
</body>
</html>