<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Academia cerebritos</title>
  <script th:src="@{/js/detallesimulacro.js}"></script>
</head>
<body th:replace="layout.html">
<!-- Contenido específico de la página -->
<div th:fragment="content" class="pt-10">
  <div class="flex justify-between mx-20 my-5">
    <h1 class="text-black font-extrabold text-2xl">SIMULACRO EXAMEN DE ADMISION</h1>
    <button class="py-2 px-5 bg-orange-400 rounded-lg text-white" onclick="empezarsimulacro()">REALIZAR SIMULACRO</button>
  </div>
  <div class="flex mx-5 my-5">
    <div class="w-3/5 relative overflow-x-auto shadow-xl rounded-xl">
      <div class="flex justify-between mx-20 my-5">
        <h3 class="text-red-400 font-extrabold text-xl">REGISTRO DE NOTAS</h3>
        <a href="/reportesimulacros" class="py-2 px-5 bg-orange-400 rounded-lg text-white">REPORTES</a>
      </div>
      <div class="m-5 my-5">
        <table class="w-full text-center text-gray-500">
          <thead class="text-gray-700 uppercase bg-neutral-50">
          <tr>
            <th class="px-6 py-3"> FECHA</th>
            <th class="px-6 py-3"> NOTA</th>
            <th class="px-6 py-3"> ACCION</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="evaluacion : ${evaluacionesSimulacro}"
              class="bg-white border-b hover:bg-gray-50">
            <th th:text="${evaluacion.fecha}" class="px-6 py-3 text-green-600 "></th>
            <td th:text="${evaluacion.nota}" class="px-6 py-3"> 120</td>
            <td class="px-6 py-3">
              <button class="masinfo_simulacro bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded"
                      th:data-id-simulacro="${evaluacion.id}"
                      th:data-fecha-simulacro="${evaluacion.fecha}"
                      th:data-nota-simulacro="${evaluacion.nota}"
              >
                Ver más
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="w-2/5 relative overflow-x-auto shadow-xl mx-5 rounded-xl">
      <h3 class="text-center text-red-400 font-extrabold text-xl py-2">CURSOS EVALUADOS</h3>
      <ul class="p-10">
        <li th:each="curso : ${cursos}" class="my-2 bg-gray-200 rounded-lg p-3" th:text="${curso.nombre}">Aritmetica</li>
      </ul>
    </div>

  </div>
  <script>
  function empezarsimulacro() {
    var idalumno = sessionStorage.getItem("idalumno");
    var iduniversidad = sessionStorage.getItem("iduniversidad");
    Swal.fire({
      title: "Procesando",
      text: "Se está elaborando su examen...",
      allowOutsideClick: false,
      allowEscapeKey: false,
      allowEnterKey: false,
      showConfirmButton: false,
      onBeforeOpen: () => {
        Swal.showLoading();
      }
    });

    window.location.href = "/realizarsimulacro?idalumno=" + idalumno + "&iduniversidad=" + iduniversidad;
  }
</script>
</div>
</body>
</html>