<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plataforma Cerebritos</title>
    <link rel="stylesheet" type="text/css" href="../static/css/detallesexamenculminado.css">
</head>
<body>
<div id="principal">
    <nav>
        <ul>
            <li class="logo"><img src="../static/img/Logo1.png" alt=""></li>
            <li><a href="#">&nbsp; Dashboard</a></li>
            <li><a href="#">&nbsp; Simulacro</a></li>
            <li><a href="#">&nbsp; Cursos</a></li>
        </ul>
    </nav>
</div>
<div id="cabecera">
    <div id="div-1">
        <h1 style="color: #2b2626">Detalles de examen culminado</h1>
    </div>
</div>
<div id="body">
<div id="grafica">
    <h2 class="titulo">Porcentaje por cada curso</h2>
    <p>Aptitud matematica</p>
    <div class="container">
        <div class="skills am">80%</div>
    </div>
    <p>Aritmetica</p>
    <div class="container">
        <div class="skills aritmetica">50%</div>
    </div>
    <p>Algebra</p>
    <div class="container">
        <div class="skills algebra">30%</div>
    </div>
    <p>Lenguaje</p>
    <div class="container">
        <div class="skills lenguaje">60%</div>
    </div>
    <p>Literatura</p>
    <div class="container">
        <div class="skills literatura">20%</div>
    </div>
    <p>Geometria</p>
    <div class="container">
        <div class="skills geometria">15%</div>
    </div>
    <p>Trigonometria</p>
    <div class="container">
        <div class="skills trigonometria">40%</div>
    </div>
    <p>Quimica</p>
    <div class="container">
        <div class="skills quimica">70%</div>
    </div>
    <p>Fisica</p>
    <div class="container">
        <div class="skills fisica">30%</div>
    </div>
</div>
<div>
    <div class="div-btn">
        <h3>Ir al menu</h3>
    </div>
<table class="t-1">
    <tr>
        <td>
            <h3>Alumno:Carlos Guzman</h3>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Hora Inicio:08:35:32</h3>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Hora Fin:11:10:25</h3>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Cantidad de preguntas: 100</h3>
        </td>
    </tr>
    <tr>
        <td>
            <h3>Puntaje:89</h3>
        </td>
    </tr>
</table>
    <table class="t-2">
        <tr>
            <td><h4>Cursos recomendados a repasar</h4></td>
        </tr>
        <tr>
            <td class="fila-1">Geometria</td>
        </tr>
        <tr>
            <td class="fila-2">Literatura</td>
        </tr>
        <tr>
            <td class="fila-3">Fisica</td>
        </tr>
    </table>
</div>
</div>
</body>
</html>