<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plataforma Cerebritos</title>
  <link rel="stylesheet" type="text/css" href="../static/css/evaluacion.css">
</head>
<body>
<div id="general">
  <div id="principal">
    <nav>
      <ul>
        <li class="logo"><img src="../static/img/Logo1.png" alt=""></li>
        <li><a href="#">&nbsp; Dashboard</a></li>
        <li><a href="#">&nbsp; Simulacro</a></li>
        <li><a href="#">&nbsp; Cursos</a></li>
      </ul>
    </nav>
  </div>
  <div id="cabecera">
    <div class="div-1">
      <h1 style="color: #2b2626">Evaluacion por curso</h1>
    </div>
  </div>
  <div id="body">
    <div class="div-3">
      <table>
        <tr>
          <td style="color: #111"><h3>Alumno:Yensu Esteban Huancaya Moreno</h3></td>
        </tr>
        <tr>
          <td style="color: #111"><h4>Curso:Trigonometria</h4></td>
        </tr>
        <tr>
          <td style="color: #111"><h4>Hora inicio: 10:00:05</h4></td>
        </tr>
        <tr>
          <td style="color: #111"><h4>Tiempo brinado:80 min</h4></td>
        </tr>
        <tr>
          <td style="color: #111"><h4>Cantidad de preguntas:20</h4></td>
        </tr>
        <tr>
          <td style="color: #111"><h4>Tiempo restante:45 min 50 seg</h4></td>
        </tr>
      </table>
    </div>
    <div class="div-4">
      <table>
        <tr>
          <td><h2 style="color: green">Pregunta</h2></td>
        </tr>
        <tr>
          <td><h3>Se desea sujetar un poste de 20 metros de altura con un cable que parte de la parte superior del mismo hasta el suelo de modo que forme un ángulo de 30º. Calcular el precio del cable si cada metro cuesta 12$</h3></td>
        </tr>
        <tr>
          <td><img src="../static/img/Pregunta-Prueba.png"></td>
        </tr>
        <tr>
          <td><h3>Respuestas:</h3></td>
        </tr>
        <tr>
          <td><h3>&nbsp; a)300$ &nbsp; b)500$ &nbsp; c)600$ &nbsp; d)480$ &nbsp; e)400$</h3></td>
        </tr>
        <tr>
          <td>
            <div class="div-boton">
              <a href="#" class="modal-close">Siguiente</a>
              <a href="#" class="modal-close">Terminar Examen</a>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</body>
</html>