<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plataforma Cerebritos</title>
    <link rel="stylesheet" type="text/css" href="../static/css/evalxcursos.css">
</head>
<body>
   <div id="general">
      <div id="principal">
          <nav>
              <ul>
                  <li class="logo"><img src="../static/img/Logo1.png" alt=""></li>
                  <li><a href="#">&nbsp; Dashboard</a></li>
                  <li><a href="#">&nbsp; Simulacro</a></li>
                  <li><a href="#">&nbsp; Cursos</a></li>
              </ul>
          </nav>
      </div>
       <div id="cabecera">
           <div class="div-1">
           <h1 style="color: #2b2626">Trigonometria</h1>
       </div>
          <div class="div-2">
           <a href="#" class="btn-exam">Realizar examen</a></td>
       </div>
       </div>
       <div id="body">
       <div class="div-3">
           <table>
               <thead>
               <h2 style="color: #de852c">Registro de notas <br> <br></h2>
               </thead>
               <tr>
                   <td><h3>Fecha</h3></td>
                   <td><h3>Nota</h3></td>

               </tr>
               <tr>
                   <td style="color: #8de38d"><h3>10-06-2023 10:34:34</h3></td>
                   <td style="color: #8de38d"><h3>15</h3></td>
               </tr>
               <tr>
                   <td style="color: #8de38d"><h3>10-06-2023 10:34:34</h3></td>
                   <td style="color: #8de38d"><h3>15</h3></td>
               </tr>
               <tr>
                   <td style="color: #8de38d"><h3>10-06-2023 10:34:34</h3></td>
                   <td style="color: #8de38d"><h3>15</h3></td>
               </tr>
               <tr>
                   <td style="color: #8de38d"><h3>10-06-2023 10:34:34</h3></td>
                   <td style="color: #8de38d"><h3>15</h3></td>
               </tr>
               <tr>
                   <td style="color: #8de38d"><h3>10-06-2023 10:34:34</h3></td>
                   <td style="color: #8de38d"><h3>15</h3></td>
               </tr>
               <tr>
                   <td style="color: #8de38d"><h3>10-06-2023 10:34:34</h3></td>
                   <td style="color: #8de38d"><h3>15</h3></td>
               </tr>
               <tr>
                   <td style="color: #8de38d"><h3>10-06-2023 10:34:34</h3></td>
                   <td style="color: #8de38d"><h3>15</h3></td>
               </tr>
               <tr>
                   <td style="color: #8de38d"><h3>10-06-2023 10:34:34</h3></td>
                   <td style="color: #8de38d"><h3>15</h3></td>
               </tr>
               <tr>
                   <td style="color: #8de38d"><h3>10-06-2023 10:34:34</h3></td>
                   <td style="color: #8de38d"><h3>15</h3></td>
               </tr>
           </table>
       </div>
           <div class="div-4">
               <table>
                   <thead>
                   <h2 style="color: #de852c">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Temario del curso</h2>
                   </thead>
                   <tr>
                       <td><h3>Planteo de ecuaciones</h3></td>
                   </tr>
                   <tr>
                       <td><h3>Figuras geometricas</h3></td>
                   </tr>
                   <tr>
                       <td><h3>Situaciones algebraicas</h3></td>
                   </tr>
                   <tr>
                       <td><h3>Edades</h3></td>
                   </tr>
                   <tr>
                       <td><h3>Porcentaje</h3></td>
                   </tr>
               </table>
           </div>
           <section class="modal">
               <div class="modal-container">
                   <h2  class="modal-title">Elige los temas para que rindas en tu examen</h2>
                   <table class="modal-paragraph">
                       <tr><td>Planteo de Ecuaciones</td></tr>
                       <tr><td>Figuras Geometricas</td></tr>
                       <tr><td>Situaciones Algebraicas</td></tr>
                       <tr><td>Edades</td></tr>
                       <tr><td>Porcentaje</td></tr>
                   </table>
                   <div class="contenedor-btn">
                       <a href="#" class="modal-close">Cancelar</a>
                       <a href="#" class="modal-close">Comenzar Examen</a>
                   </div>
               </div>
           </section>
       </div>
   </div>
   <script src="../static/js/cursos-js.js"></script>
</body>
</html>