<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Cerebritos</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<main class="bg-gray-50 text-white flex justify-center h-screen w-full items-center">
    <section class="bg-gray-300 rounded-lg p-5 max-w-fit flex h-min">
        <div>
            <div class="p-4">
                <p>“Desbloquea tu potencial con simulacros de exámenes <br>
                    de admisión y cursos especializados."</p>
            </div>
        </div>
        <div>
            <form action="" class="bg-white p-5 rounded-lg text-gray-500">
                <p>Usuario</p>
                <input type="text" name="" id="usuario" class="border px-2 py-1 rounded-lg mt-2" placeholder="Ingrese usuario">
                <p>Contraseña</p>
                <input type="password" name="" id="contraseña" class="border px-2 py-1 rounded-lg mt-2" placeholder="Ingrese contraseña">
                <div class="pt-2 flex justify-center">
                    <button class="py-2 px-3 rounded-lg bg-indigo-500 text-white w-full">Ingresar</button>
                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>