<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Academia cerebritos</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script th:src="@{/js/login.js}"></script>
</head>
<body>
<main class="bg-gray-100 text-white flex justify-center h-screen w-full items-center">
    <section class="bg-gray-300 rounded-lg p-5 max-w-fit flex gap-5 min-h-[34rem] min-w-[70%]">
        <div class="w-full flex items-center">
            <div class="p-4">
                <p class="text-center font-extrabold text-indigo-500 text-xl">“Desbloquea tu potencial con simulacros de
                    exámenes <br>
                    de admisión y cursos especializados."</p>
                <img th:src="@{/img/academialogin.png}" alt="">
            </div>
        </div>
        <div class="min-h-full w-full flex justify-end items-center pr-5">
            <form onsubmit="event.preventDefault(); login();" class="bg-white p-5 rounded-xl text-gray-500 w-[70%]">
                <div class="w-full flex justify-center py-3">
                    <img th:src="@{/iconos/logo_cerebritos.png}" alt="" class="h-20">
                </div>
                <div class="mt-5">
                    <p>Usuario</p>
                    <input type="text" id="usuario" class="border px-3 py-2 rounded-lg mt-2 w-full"
                           placeholder="Ingrese usuario">
                </div>
                <div class="mt-3">
                    <p>Contraseña</p>
                    <div class="flex items-center border px-3 py-2 w-full rounded-lg mt-2">
                        <input type="password" id="password" class="w-full focus:outline-none"
                               placeholder="Ingrese contraseña">
                        <span id="togglePassword" class="ml-2 cursor-pointer">
                        <i class="fa-solid fa-eye"></i>
                        </span>
                    </div>
                </div>
                <div class="pt-2 pb-4 flex justify-center mt-4">
                    <button type="submit"
                            class="py-2 px-3 rounded-lg bg-indigo-500 text-white w-full hover:bg-indigo-600">Ingresar
                    </button>
                </div>
                <span id="error" class="text-red-500"></span>
            </form>
        </div>
    </section>
</main>
</body>
</html>
