<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
  <title>Academia cerebritos</title>
</head>
<body th:replace="layout.html">
<!-- Contenido específico de la página -->
<div th:fragment="content" class="pt-10">
  <div class="flex justify-between mx-20 my-5">
    <h1 class="text-black font-extrabold text-2xl">REPORTE SIMULACROS DEXAMEN DE ADMISION</h1>
    <button class="py-2 px-5 bg-orange-400 rounded-lg text-white">EXPORTAR</button>
  </div>

  <div class="flex relative overflow-x-auto shadow-xl mx-10">
    <table class="w-full text-center text-gray-500 dark:text-gray-400">
      <thead class=" text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th class="px-6 py-3">FECHA</th>
        <th class="px-6 py-3">NOTA</th>
        <th class="px-6 py-3">R. Blanco</th>
        <th class="px-6 py-3">R. Correctas</th>
        <th class="px-6 py-3">R. Incorrectas</th>
        <th class="px-6 py-3">Curso(+)Rendimiento</th>
        <th class="px-6 py-3">Curso(-)Rendimiento</th>
      </tr>
      </thead>

      <tbody>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">

        <th class="px-6 py-4 text-green-600 "> 15/07/23 10:34:34</th>
        <td class="px-6 py-4">100</td>
        <td class="px-6 py-4">10</td>
        <td class="px-6 py-4">76</td>
        <td class="px-6 py-4">14</td>
        <td class="px-6 py-4">Lenguaje</td>
        <td class="px-6 py-4">Quimica</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <th class="px-6 py-4 text-green-600 "> 15/07/23 10:34:34</th>
        <td class="px-6 py-4">100</td>
        <td class="px-6 py-4">10</td>
        <td class="px-6 py-4">76</td>
        <td class="px-6 py-4">14</td>
        <td class="px-6 py-4">Lenguaje</td>
        <td class="px-6 py-4">Quimica</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <th class="px-6 py-4 text-green-600 "> 15/07/23 10:34:34</th>
        <td class="px-6 py-4">100</td>
        <td class="px-6 py-4">10</td>
        <td class="px-6 py-4">76</td>
        <td class="px-6 py-4">14</td>
        <td class="px-6 py-4">Lenguaje</td>
        <td class="px-6 py-4">Quimica</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <th class="px-6 py-4 text-green-600 "> 15/07/23 10:34:34</th>
        <td class="px-6 py-4">100</td>
        <td class="px-6 py-4">10</td>
        <td class="px-6 py-4">76</td>
        <td class="px-6 py-4">14</td>
        <td class="px-6 py-4">Lenguaje</td>
        <td class="px-6 py-4">Quimica</td>
      </tr>
      <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
        <th class="px-6 py-4 text-green-600 "> 15/07/23 10:34:34</th>
        <td class="px-6 py-4">100</td>
        <td class="px-6 py-4">10</td>
        <td class="px-6 py-4">76</td>
        <td class="px-6 py-4">14</td>
        <td class="px-6 py-4">Lenguaje</td>
        <td class="px-6 py-4">Quimica</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
</body>
</html>