<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Agrega estos enlaces a tus estilos y scripts -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.15/dist/tailwind.min.css" rel="stylesheet">

</head>
<body>

<div class="flex justify-between mx-20 my-5">
    <h1 class="text-black font-extrabold text-2xl">SIMULACRO EXAMEN DE ADMISION</h1>
    <button class="py-2 px-5 bg-orange-400 rounded-lg text-white">REALIZAR SIMULACRO</button>
</div>
<div class="flex mx-5 my-5">
    <div class="w-3/5 relative overflow-x-auto shadow-xl rounded-lg">
        <div class="flex justify-between mx-20 my-5">
            <h3 class="text-red-400 font-extrabold text-2xl">REGISTRO DE NOTAS</h3>
            <button class="py-2 px-5 bg-orange-400 rounded-lg text-white">REPORTES</button>
        </div>
        <div class="m-5 my-5">
            <table class="w-full text-center text-gray-500 dark:text-gray-400 mx-5 ">
                <thead class="text-gray-700 uppercase bg-neutral-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th class="px-6 py-3"> FECHA</th>
                    <th class="px-6 py-3"> NOTA</th>
                    <th class="px-6 py-3"> ACCION</th>
                </tr>
                </thead>
                <tbody>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th class="px-6 py-4 text-green-600 "> 15/07/23 10:34:34</th>
                    <td class="px-6 py-4"> 120</td>
                    <td class="px-6 py-4">
                        <button  data-modal-target="modal" data-modal-toggle="modal" class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded">
                            Ver mas
                        </button>
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th class="px-6 py-4 text-green-600 "> 15/07/23 10:34:34</th>
                    <td class="px-6 py-4"> 120</td>
                    <td class="px-6 py-4">
                        <button class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded">Ver mas
                        </button>
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th class="px-6 py-4 text-green-600 "> 15/07/23 10:34:34</th>
                    <td class="px-6 py-4"> 120</td>
                    <td class="px-6 py-4">
                        <button class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded">Ver mas
                        </button>
                    </td>
                </tr>
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                    <th class="px-6 py-4 text-green-600 "> 15/07/23 10:34:34</th>
                    <td class="px-6 py-4"> 120</td>
                    <td class="px-6 py-4">
                        <button data-modal-target="medium-modal" data-modal-toggle="medium-modal" class="bg-green-700 hover:bg-green-800 text-white font-bold py-2 px-4 rounded">Ver mas
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="w-2/5 relative overflow-x-auto shadow-xl mx-5 rounded-lg">
        <h3 class="text-center text-red-400 font-extrabold text-2xl py-2">CURSOS EVALUADOS</h3>
        <ul class="p-10">
            <li class="my-2 bg-gray-200 rounded-lg p-3">Aritmetica</li>
            <li class="my-2 bg-gray-200 rounded-lg p-3">Aritmetica</li>
            <li class="my-2 bg-gray-200 rounded-lg p-3">Aritmetica</li>
            <li class="my-2 bg-gray-200 rounded-lg p-3">Aritmetica</li>
            <li class="my-2 bg-gray-200 rounded-lg p-3">Aritmetica</li>
            <li class="my-2 bg-gray-200 rounded-lg p-3">Aritmetica</li>
        </ul>
    </div>

</div>



<!-- modal -->
<div id="modal" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Terms of Service
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal">
                    <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.
                </p>
            </div>
            
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
                <button data-modal-hide="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>